/* Ajustes para sombra e animação nos botões de ação */
.action-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
  background-color: white;
  margin-top: -2em;
}

.action-buttons img {
  overflow: hidden; /* Para garantir que a sombra não vaze fora da imagem */
  transition: transform 0.3s; /* Adicionando transição suave para a transformação */
}

/* Ajustes específicos de tamanho e posição para cada botão */
.action-buttons .SuperLike,
.action-buttons .Dislike {
  width: 150%;
  height: 100%;
}

.action-buttons .SuperLike:hover,
.action-buttons .Dislike:hover {
  transform: scale(1.5); /* Aumenta a imagem ao passar o mouse */
}

.action-buttons .Like {
  width: 160%;
  height: 100%;
}

.action-buttons .Like:hover {
  transform: scale(1.2); /* Aumenta a imagem ao passar o mouse */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.discover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: white;
  height: 96%;
  overflow: hidden;
}

.profile-card {
  position: relative;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  background-color: white;
  transition: transform 0.3s;
}

.profile-card {
  transform: perspective(3000px) rotateY(5deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(1500px) rotateY(15deg);
  }
}

/* Ajustando tamanho das imagens e profile card */
.profile-card img {
  max-height: 535px;
  width: auto;
  display: block;
}

.profile-card {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 535px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-more-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-more-users img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
