/* Ajustes para sombra e animação nos botões de ação */
.action-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
  background-color: white;
  margin-top: -2em;
}

.action-buttons img {
  overflow: hidden; /* Para garantir que a sombra não vaze fora da imagem */
  transition: transform 0.3s; /* Adicionando transição suave para a transformação */
}

/* Ajustes específicos de tamanho e posição para cada botão */
.action-buttons .SuperLike,
.action-buttons .Dislike {
  width: 150%;
  height: 100%;
}

.action-buttons .SuperLike:hover,
.action-buttons .Dislike:hover {
  transform: scale(1.5); /* Aumenta a imagem ao passar o mouse */
}

.action-buttons .Like {
  width: 160%;
  height: 100%;
}

.action-buttons .Like:hover {
  transform: scale(1.2); /* Aumenta a imagem ao passar o mouse */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.discover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: white;
  height: 96%;
  overflow: hidden;
}

.profile-card {
  position: relative;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  background-color: white;
  transition: transform 0.3s;
}

.profile-card:hover {
  transform: scale(1.05);
}

.fotter_buttons {
  display: flex;
  justify-content: space-around;
<<<<<<< HEAD
  background-color: #f3f3f3;
=======
  background-color: #F3F3F3;
>>>>>>> 7d2d7191676326357f827aaf81158dab08082da6
  padding: 10px;
  height: 82px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fotter_buttons a {
  text-decoration: none;
  transition: transform 0.3s; /* Adicionando transição suave para a transformação */
}

.fotter_buttons a:hover {
  transform: scale(1.2); /* Aumenta o item ao passar o mouse */
}

.fotter_buttons .active svg {
<<<<<<< HEAD
  fill: #e94057;
  stroke: #f3f3f3;
=======
  fill: #E94057;
  stroke: #F3F3F3;
>>>>>>> 7d2d7191676326357f827aaf81158dab08082da6
}
