.create_account {
  display: block;
  height: 56px;
  width: calc(100% - 40px);
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  background-color: #ff4b5c;
  color: white;
  border: none;
  border-radius: 15px;
  width: 295px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 4px 4px 4px #00000032;
}

.sign_in {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.sign_in_button {
  font-size: 14px;
  color: #ff4b5c;
  background: none;
  border: none;
  cursor: pointer;
}

.sign_in_button:hover {
  text-decoration: underline;
}
