.container {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

.input_email {
  padding: "10px";
  border-radius: "5px";
  border: "1px solid #ccc";
  width: "100%";
  margin-bottom: "10px";
  font-size: "16px";
  box-sizing: "border-box";
}

.main_container {
  margin: auto;
  display: flex;
  height: 25em;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.main_container .main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 295px;
}
.main_container .logo {
  width: 108.64px;
  height: 100px;
  margin-bottom: 5em;
  gap: 0px;
  opacity: 0px;
}

.main_container .main_content h2 {
  height: 27px;
  font-weight: 700;
  font-size: 18;
  margin-bottom: 2em;
  line-height: 27px;
  color: #000000;
}

.main_container .main_content button {
  width: 295px;
  height: 56px;
  top: 365px;
  left: 40px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;
  background-color: #e94057;
  border: none;

  font-size: 16px;

  line-height: 24px;
  color: #ffffff;
}
.container .footer {
  width: 400px;
  height: 21px;
  text-align: center;
}

.container .footer a {
  width: 84px;
  height: 21px;
  margin: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #e94057;
  text-decoration: none;
}

.input_wrapper {
  position: relative;
}

.input_email {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.input_wrapper.active .input_email {
  opacity: 1;
  transform: translateY(0);
}

.button_continue {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s ease;
}

.button_continue:hover {
  opacity: 0.8;
}

.input_wrapper {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.input_wrapper.active {
  opacity: 1;
}

.input_email {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.button_continue,
.button_send_email {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s ease;
}

.button_continue:hover,
.button_send_email:hover {
  opacity: 0.8;
}

.button_send_email {
  margin-top: 10px;
}
