.location-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 20px;
}

.location-page h2{
    width: 295px;
  height: 51px;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;

  color: #000;
}