/* estiliza o container do carousel*/
.carousel-container {
  margin: 0 auto;
  margin-top: 7em;
}

/* remove o fundo padrão dos slides */
.carousel .slide {
  background: none;
}

/* estiliza as imagens dos slides*/
.carousel .slide img {
  border-radius: 15px;
  width: calc(100% - 40px);
  margin: 0 20px;
}

/* ajusta o padding dos slides */
.carousel .slide {
  padding: 0 10px;
}

/* estiliza a legenda dos slides*/
.carousel .slide .legend {
  position: relative;
  margin-top: 5em;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #00000000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* ajusta a imagem dentro da legenda */
.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* estiliza o texto da legenda */
.legend {
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  position: relative;
}

/* estiliza o título da legenda */
.legend h3 {
  margin: 10px 0;
  font-size: 24px;
  color: #FF4B5C;
}

/* estiliza o texto da legenda */
.legend p {
  font-size: 16px;
  color: #666;
}
